<%= form_for(temp_order) do |f| %>
  <% if temp_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temp_order.errors.count, "error") %> prohibited this temp_order from being saved:</h2>

      <ul>
      <% temp_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.label :user_id %>
  <%= f.text_field :user_id , class: 'form-control'%>

  <%= f.label :table_id %>
  <%= f.text_field :table_id , class: 'form-control'%>

  <%= f.label :book_time %>
  <%= f.datetime_select :book_time, ampm: true, minute_step: 15 %>
  
  <div class="action-field">
    <%= f.submit "Update", class: "margin-t-b-20px btn btn-submit btn-submit-lg"%>
  </div>
<% end %>
