<h1>Users</h1>
<form id="searchbox" action="/users" method="get">
  Search by email:<br>
  <input id="searchVal" type="text" name="search"><br>
</form>
<%= will_paginate %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= gravatar_for user, size: 50 %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to "Orders", "/users/#{user.id}/orders" %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><% if current_user.admin? && !current_user?(user) %>
        | <%= link_to "delete", user, method: :delete,
        data: { confirm: "You sure?" } %><% end %></td>
      </tr>
      <% end %>
    </tbody>
</table>
<%= will_paginate %>
<br>

<script> 
  $("#searchbox").submit(function( event ) {
    event.preventDefault();
    value = $('#searchVal').val();
    if (value.trim() == "") value = ""; 
    location = '/users?email=' + value;
  });
</script> 


