<div class="row config-min-height">
  <div class="container form-bg align-center">
    <h1>Detail your submitted order</h1>
    <h3>Created at <%= @order.created_at %></h3>
    <h3>Table no: <%= @order.table.no %></h3>
    <h3>Book time: <%= @order.book_time %></h3>
    <h3>Total price: <%= @order.total_price %></h3>
    <h3 id="paid">Paid? : <%= @order.paid ? "yes": "no" %></h3>
    <% if admin_user? && !@order.paid %>
      <button type="button" class="btn btn-submit" id="btnPay">Pay</button>
    <% end %>
    <div class="row">
      <% if @order.order_items.any? 
          @order_items = @order.order_items%>
      <div class="container">
        <h3>Order items (<%= @order.order_items.count %>)</h3>
        <section class="list-group-custom align-left">
          <div class="title-bar">
            <p class="hidden-cus">HIDDEN</p>
            <p>Name</p>
            <p>Price</p>
            <p>Quantity</p>
            <p>Item price</p>
          </div>
          <ul class="list-group">
            <%= render @order_items %>
          </ul>
        </section>
      </div>
      <% end %>
    </div>
    <div class="link-back-field">
      <%= link_to "Back", "/users/#{current_user.id}/orders" %>
    </div>
  </div>
</div>

<script>
  $('#btnPay').click(function(event) {
    var id = <%= @order.id %>
    var userId = <%= session[:user_id] %>
    console.log('Token: ',  $('meta[name="csrf-token"]').attr("content"))
    var token = $('meta[name="csrf-token"]').attr("content")
    
    axios.post("/orders/" + id + "/pay", {
      user_id: userId, authenticity_token: token
    })
    .then(function(res) {
      console.log('Response: ',res)
      $('#paid').text("yes");
    }, function(res) {
      console.log('Response: ', res)
      alert("Got error when tried to pay")
    })

  })
</script>
<div class="config"></div>