<li class="list-group-item">
  <div>
  <% menu_item = MenuItem.find(f.object.menu_item_id) %>
  <p><%= image_tag menu_item.image_url(:thumb).to_s %></p>
  <p><%= menu_item.name %></p>
  <p><%= menu_item.price %>$</p>
  <%= f.hidden_field :id, value: f.object.id %>
  <%= f.hidden_field :menu_item_id, value: f.object.menu_item_id %>
  <%= f.hidden_field :temp_order_id, value: f.object.temp_order_id %>
  <p><%= f.number_field :quantity, class: "input-number" %></p>
  <p class="last-p"><%= f.object.price %>$</p>
  <%= link_to fa_icon("times 2x", class: "red-color"), destroy_temp_order_item_path(f.object), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

</li>