<li class="list-group-item" >
  <div>
  <p><%= link_to image_tag(info_staff.image_url(:thumb).to_s), info_staff %></p>
  <p><%= info_staff.name %></p>
  <p><%= info_staff.age %></p>
  <p><%= time_ago_in_words(info_staff.created_at) %> ago.</p>
  <p class="hidden-cus last-p">HIDDEN</p>
  <% if admin_user? %>
  <%= link_to fa_icon("times 2x", class: "red-color"), info_staff,method: :delete,data:{confirm: 'Are you sure ?'} %>
  <a href=<%= edit_info_staff_path(@staff)%> >
    <i class="fa fa-pencil-square-o fa-2x black-color"></i>
  </a>
  <% end %>
  </div>
</li>